html {
	background-color: #222;
	user-select: none;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background-color: rgba(0, 0, 0, .66);
	color: rgba(255, 255, 255, .66);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: auto 1fr;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	color: aliceblue;
	font-size: large;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content {
	color: bisque;
	background-color: rgba(0, 0, 0, .33);
	border: 1px solid rgba(255, 255, 255, .25);
	box-shadow: 10px 10px 16px #111;
	width: 80vw;
	max-width: 600px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 0;
	border-radius: 10px;
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#dev_area {
	height: 25px;
	min-height: 20px;
	background-color: rgba(0, 0, 0, .33);
	border: 1px solid rgba(255, 255, 255, .25);
	box-shadow: 10px 10px 16px #111;
	margin: 20px;
	border-radius: 10px;
	padding: 10px;
	color: antiquewhite;
	/* outline: none; #描画轮廓框 */
	resize: none;
	font-size: large;
	font-weight: 555;
	transition: all .3s ease-in-out;
}

#dev_area:focus {
	height: 45vh;
}

#Issues {
	border-top: 2px solid;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.scrollbar {
	overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}

#Issues>*:not([info]) {
	color: azure;
	margin: 3px;
	padding: 3px;
	border-radius: 5px;
	border-bottom: 2px solid rgba(255, 255, 255, .25);
	word-break: break-all;
	/* 强制换行 */
	/* text-wrap: wrap; */
	overflow: hidden;
	user-select: all;
	transition: all .3s ease-in-out;
	transform: scale(.9);
}

#Issues>*:not([info]):before {
	content: "‹";
	margin-right: 6px;
	font-weight: 900;
}

#Issues>*:not([info]):hover {
	transform: scale(1);
}